/.vs/SASS/CopilotIndices
/.vs/SASS/FileContentIndex
/.vs/SASS/FileContentIndex
/.vs/SASS/v17
/.vs/SASS
/.vs
/.vs
.vs/SASS/v17/DocumentLayout.backup.json
.vs/SASS/v17/DocumentLayout.json
.vs/SASS/v17/.suo
.vs/SASS/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/SASS/CopilotIndices/17.13.441.19478/CodeChunks.db
/.vs/ProjectEvaluation
/.vs
