/.vs/SASS/CopilotIndices
/.vs/SASS/FileContentIndex
/.vs/SASS/FileContentIndex
/.vs/SASS/v17
/.vs/SASS
/.vs
/.vs
.vs/SASS/v17/DocumentLayout.backup.json
.vs/SASS/v17/DocumentLayout.json
.vs/SASS/v17/.suo
.vs/SASS/CopilotIndices/17.13.441.19478/SemanticSymbols.db
.vs/SASS/CopilotIndices/17.13.441.19478/CodeChunks.db
/.vs/ProjectEvaluation
/.vs
/SASS/obj
/SASS/obj
/SASS/obj/Debug
/SASS/bin
SASS/bin/Debug/net9.0/SASS.deps.json
SASS/bin/Debug/net9.0/SASS.dll
SASS/bin/Debug/net9.0/SASS.exe
SASS/bin/Debug/net9.0/SASS.pdb
SASS/bin/Debug/net9.0/SASS.staticwebassets.endpoints.json
SASS/obj/Debug/net9.0/apphost.exe
SASS/obj/Debug/net9.0/ref/SASS.dll
SASS/obj/Debug/net9.0/refint/SASS.dll
SASS/obj/Debug/net9.0/SASS.AssemblyInfo.cs
SASS/obj/Debug/net9.0/SASS.AssemblyInfoInputs.cache
SASS/obj/Debug/net9.0/SASS.csproj.CoreCompileInputs.cache
/SASS/obj
/SASS/bin/Debug
